<div fxLayout="column" fxFlex>
  <md-toolbar color="primary">Demo Control
    <midi-selector></midi-selector>
  </md-toolbar>
  <div class="pad-grid" fxLayout="column" fxLayout.xs="column" style="height:90vh;" fxLayoutAlign="space-around">
    <div class="pad-row" *ngFor="let row of padGrid.rows" fxLayout="row" fxLayoutAlign="space-around">
      <div class="pad-cell" *ngFor="let cell of row.cells">
        <button md-button md-raised-button fxFlex class="md-launchpad-button">{{cell.script.name}}</button>
      </div>
    </div>
  </div>
</div>
